<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	<meta http-equiv='content-type' content='text/html;charset=utf-8'>
	<meta http-equiv='content-style-type' content='text/css'>
	<meta http-equiv='content-script-type' content='text/javascript'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src = 'http://www.google.com/jsapi'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
	<script src = '/javascripts/main.js'></script>
</head>
<body>

<%
for(var i in candidates) {
%>

<div class = 'candidate' id = 'candidate_<%= candidates[i].id %>'>
	<%= candidates[i].user_name %><br />
	<%= candidates[i].text %><br />
	RT : <%= candidates[i].rt_count %>　　
	<%= candidates[i].date_str %>　　
	<% if (candidates[i].rt_user != null) { %>
		RT by :<%= candidates[i].rt_user %>
	<%
	}

	%>
	<br />

	<!-- <a href = 'rt_manually/<%= candidates[i].id %>'>リツイート</a>　
	<a href = 'delete<%= candidates[i].id %>'>削除</a>
	-->
	<input type = 'button' class = 'retweetCandidateButton' name = '<%= candidates[i].id %>' value = 'リツイート' /><br /><br />

	<!--
		<input type = 'button' class = 'deleteCandidateButton' name = '<%= candidates[i].id %>' value = '削除' /><br />
	-->
</div>
<br />
<%
}
%>


</body>
</html>